<div class="slot-wrapper__content__candidate">
  <h3> 
    <%= a.candidate.first_name && a.candidate.last_name ? ("#{a.candidate.first_name} #{a.candidate.last_name}")  : "Ce candidat n'a pas encore renseigné son nom." %> 
    <span class="slot-wrapper__content__candidate--subtitle"> - Voir la fiche candidat </span>
  </h3>
</div>