<div class="slot-wrapper__content__candidate c<%= a.candidate.id %> <%= first ? "active" : nil %>">
  <h3> 
    <%= a.candidate.first_name && a.candidate.last_name ? ("#{a.candidate.first_name} #{a.candidate.last_name}")  : a.candidate.email %> 
    <span class="slot-wrapper__content__candidate--subtitle"> - Fiche candidat </span>
  </h3>
</div>