<div class="container">
  <div class="slot-candidate-wrapper__title section-title">
    <h1>Etape 2/3 : indiquez les créneaux de visite que vous souhaitez proposer à vos candidats</h1>
    <p class="mt2">Vous pourrez les modifier à tout moment dans votre espace immolib</p>
  </div>
</div>

<div class="new-slot-wrapper pl4 pr4">
  <div class="new-slot-wrapper__content text-center">
    <% if @slots.count > 0 %>
      <%= render( partial: 'created_property_slots', locals: { slots: @slots, property: @property } ) %>
    <% else %>
      <%= link_to "Ajouter un créneau de visite", new_property_slot_path(@property, redirect_path: "new_property"), class: "btn big-btn outline-btn-white" %>
    <% end %>
  </div>
</div>