<div class="pt4 text-center">
  <h1>Etape 2/3 : sélection des créneaux de visite</h1>
  <h3>Renseignez les créneaux de visite que vous souhaitez proposer à vos candidats</h3>
  <p>Vous pourrez les modifier à tout moment dans votre espace immolib. La disponibilité des créneaux est mis à jour automatiquement après chaque candidature.</p>
</div>

<div class="new-slot-wrapper pt4 pl4 pr4">
  <div class="new-slot-wrapper__content text-center">
    <%= link_to "Ajoutez un créneau", new_property_slot_path(@property, redirect_path: "new_property"), class: "btn big-btn white-btn bg-primary" %>
    <% if @slots.count > 0 %>
      <%= render( partial: 'created_property_slots', locals: { slots: @slots, property: @property } ) %>
    <% end %>
  </div>
</div>