<div class="new-slot-wrapper pt7 pl4 pr4">
  <%= link_to raw("<i class='fas fa-chevron-left'></i> Retour"), :back, class: "return-link" %>
  <div class="new-slot-wrapper__content text-center">
    <h1>Etape 2/3 : sélection des créneaux et modalités des visites</h1>
    <h3>Renseignez les créneaux de visites que vous souhaitez proposer à vos candidats</h3>
    <p>Les créneaux disponibles seront mis à jour automatiquement après chaque candidature. Vous pourrez les modifier à tout moment dans votre espace "Mes logement".</p>
    <%= link_to "Ajoutez un créneau", new_property_slot_path, class: "btn big-btn white-btn bg-primary" %>
  </div>
</div>