<br/>
<br/>
<br/>
<h1>Etape 2/3 : sélection des créneaux et modalités des visites</h1>
<h3>Renseignez les créneaux de visites que vous souhaitez proposer à vos candidats</h3>
<p>Les créneaux disponibles seront mis à jour automatiquement après chaque candidature. Vous pourrez les modifier à tout moment dans votre espace "Mes logement".</p>