<div class="faq-page">
  <h1 class="text-center pt1"> Foire Aux Questions </h1>
  <div class="faq-wrapper mt2">
    <div class="faq-element">
      <p class="bolder faq-element__question"> Quels services propose immolib ? <i class="fas fa-chevron-down primary faq-btn"></i></p>
      <div class="faq-element__answer">
      <p> Lorem Ipsum Lorem Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem </p>
      </div>
    </div>

    <div class="faq-element">
      <p class="bolder faq-element__question"> À qui s'adresse immolib ? <i class="fas fa-chevron-down primary faq-btn"></i></p>
      <div class="faq-element__answer">
      <p> Lorem Ipsum </p>
      </div>
    </div>

    <div class="faq-element">
      <p class="bolder faq-element__question"> Combien coûte immolib ? <i class="fas fa-chevron-down primary faq-btn"></i></p>
      <div class="faq-element__answer">
      <p> Lorem Ipsum Lorem Lorem Ipsum </p>
      </div>
    </div>

  </div>
</div>

<%= javascript_include_tag 'faq.js' %>