<div class="home">
  <div class="home-watermark">
    <h1>Immolib</h1>
  </div>
  <div class="home-intro">
    <div class="home-intro__title">
      <p class="typewriter-container">
        Fini
        <span
          class="typewriter"
          data-type='["les échanges fastidieux avec vos candidats.", "de jongler entre les appels téléphoniques, emails et SMS."]'
        >
          <span class="wrapper"></span>
        </span>
      </p>
    </div>
  </div>
</div>

<%= javascript_include_tag 'typewriter.js' %>
<%= javascript_include_tag 'home-bg.js' %>