<div class="pt4 text-center section-title">
  <h1 class="primary"> Vous souhaitez vendre ou louer un bien immobilier en toute simplicité&nbsp;? </h1>
</div>
<div class="form-page">
  <div class="form-page__form">
    <h2 class="bolder primary mb1">Organisez dès maintenant vos visites en quelques clics</h2>
    <div class="mb1">
      <p class="bolder">1. Je renseigne les infos clés de mon logement à vendre ou à louer</p>
      <small> Ces informations permettront à vos candidats de s’assurer qu’ils répondent bien à votre annonce </small>
    </div>
    <div class="mb1">
      <p class="bolder">2. Je sélectionne les créneaux de visites à proposer à mes candidats</p>
      <small> La disponibilité des créneaux est mise à jour automatiquement après chaque candidature </small>
    </div>
    <div class="mb1">
      <p class="bolder">3. Je partage mon URL immolib directement sur mes annonces en ligne ou mes réseaux sociaux </p>
      <small> Les candidats n'ont plus qu'à suivre un parcours simple et rapide ! Vous gardez la main sur les visites et les candidats.</small>
    </div>
    <div class="mb1">
      <%= link_to "👉 C'est parti !",  new_property_path, class: "btn big-btn bg-primary white-btn" %>
    </div>
  </div>
</div>
