<div class="container">
  <div class="text-center section-title">
    <h1 class="primary"> Vendez ou louez votre logement en toute simplicité </h1>
  </div>
  <div class="steps-section">
    <h2 class="bolder primary mb1">Comment ça marche ?</h2>
    <div class="mb1">
      <p class="bolder">1. Je renseigne les infos clés de mon logement</p>
      <small> Ces informations permettront aux candidats de s’assurer qu’ils répondent bien à votre annonce. </small>
    </div>
    <div class="mb1">
      <p class="bolder">2. Je sélectionne mes créneaux de visites</p>
      <small> La disponibilité des créneaux est mise à jour automatiquement après chaque candidature. </small>
    </div>
    <div class="mb1">
      <p class="bolder">3. Je partage mon lien immolib directement sur mes annonces en ligne et mes réseaux sociaux </p>
      <small> Les candidats suivent un parcours simple et guidé de la prise de RDV à la validation de leur dossier de location ou de leur offre d'achat.</small>
    </div>
    <div class="mb2">
      <p class="bolder">4. Je réalise mes visites et gère les candidatures </p>
      <small> Vous gardez la main sur les créneaux de visites et les candidats.</small>
    </div>
    <%= link_to "👉 C'est parti !",  new_property_path, class: "btn big-btn bg-primary white-btn text-center" %>
  </div>
</div>
