<div class="welcome-page">
  <h1 class="primary"> Bienvenue&nbsp;! </h1>
  <div class="welcome_user-wrapper">
    <div class="welcome_user-wrapper__left">
      <p class="bolder">Vous vendez ou louez un bien immobilier&nbsp;?</p>
      <p>Organiser dès maintenant des visites&nbsp;!</p>
      <%= link_to "Organisez vos visites",  new_property_path, class: "btn big-btn bg-primary white-btn" %>
    </div>
    <div class="welcome_user-wrapper__right">
      <p class="bolder">Vous souhaitez répondre à une annonce&nbsp;?</p>
      <p>Rendez-vous directement sur <span class="primary">l’annonce en ligne (Leboncoin, PAP, SeLoger, etc.) et cliquez sur l’URL Immolib</span> renseignée par le propriétaire</p>
    </div>
  </div>
</div>