<div class="container">
  <div class="text-center section-title">
    <h1 class="primary">Vendez ou louez votre logement en toute simplicité </h1>
  </div>
  <div class="steps-section">
    <h2 class="bolder primary mb1">Comment ça marche ?</h2>
    <div class="mb1">
      <p class="bolder">1. Je renseigne les infos clés de mon logement</p>
      <small>Titre, photo, liens de vos annonces en ligne, instructions pour les visites... les candidats seront guidés et assurés d'avoir toutes les informations nécessaires.</small>
    </div>
    <div class="mb1">
      <p class="bolder">2. Je sélectionne mes créneaux de visites</p>
      <small>Vous fixez le nombre de candidats maximum par créneau. Leur disponibilité est mise à jour automatiquement après chaque prise de RDV.</small>
    </div>
    <div class="mb1">
      <p class="bolder">3. Je partage mon lien immolib directement sur mes annonces en ligne et réseaux sociaux</p>
      <small>Les candidats suivent un parcours simple et guidé : prise de RDV, dépôt du dossier, confirmation d'intêret ou offre d'achat... vous centralisez toutes les réponses !</small>
    </div>
    <div>
      <p class="bolder">4. Je réalise mes visites et analyse les candidatures</p>
      <small>Les candidats sont automatiquement relancés avant une visite et en cas de dossier incomplet. Vous gardez la main jusqu'à la validation d'un dossier ou d'une offre.</small>
    </div>
  </div>
  <div class="text-center">
    <h3 class="bolder">Prêt(e) à démarrer ?</h3>
    <%= link_to "👉 C'est parti !",  new_property_path, class: "btn big-btn bg-primary white-btn text-center" %>
  </div>
</div>
