<h1>TEST</h1>
<h1>TEST</h1>
<div>
  <p>Vous vendez ou louez un bien immobilier ?
  Organiser dès maintenant des visites !
  </p>
  <%= link_to "Organisez vos visites",  new_property_path, class: "btn big-btn primary" %>
</div>
<div>
  <p>Vous souhaitez répondre à une annonce ?
  Rendez-vous directement sur l’annonce en ligne (Leboncoin, PAP, SeLoger, etc.) et cliquez sur l’URL Immolib renseignée par le propriétaire</p>
</div>
