<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation de votre visite</h1>
    <h3>Bonjour, nous avons le plaisir de confirmer votre visite.</h3>
    <p>A bientôt sur immolib.</p>
  </body>
</html>