<p> Bonjour, </p><br/><br/>

<p> Nous avons le plaisir de vous confirmer la création de votre compte avec l'adresse email : <span class="bolder"><%= @user.email %></span>. </p><br/><br/>

<p> Vous souhaitez <span class="bolder">vendre ou louer un logement</span> ? <%= link_to "Organisez dès maintenant vos visites et collectez les dossiers candidats", new_property_url %> en toute simplicité !</p><br/><br/>

<p> Vous souhaitez <span class="bolder">répondre à une annonce</span> ? Rendez-vous directement sur l’annonce en ligne (ex : PaP, Leboncoin) et cliquez sur le lien immolib renseigné par le propriétaire.</p><br/><br/>

<p> À bientôt sur immolib ! </p>