<p> Bonjour, </p><br/>
<p> Nous avons le plaisir de vous confirmer la création de votre compte avec l'adresse mail : <%= @user.email %>. </p><br/>

<p> Si ce n'est pas déjà fait, rendez-vous sur <%= link_to "votre espace immolib", user_path(@user) %> pour remplir votre profil. </p><br/>

<p> À bientôt sur immolib ! </p>