<div>
  <h1>Erreur de paiement : le paiement n'a pas été effectué</h1>
  <p>Les informations de votre logement ont été conservées.</p>
  <p>Pour finaliser la création de votre logement Immolib, nous vous invitons à finaliser le paiement :</p>
  <%= link_to "Finaliser le paiement", checkout_create_path(price: 49.99, property: @property), class: "btn big-btn white-btn bg-primary", remote: true, method: :post %>
  <br/>
  <small>En cliquant sur « valider et passer à l’étape suivante », vous allez être redirigé(e) vers un <strong>formulaire de paiement sécurisé</strong> pour finaliser l'organisation de vos visites.</small>
  <br/>
  <small>L’accès à notre service est au tarif fixe de 50€ par logement.</small>

  <br/><br/><br/>
  <%= link_to "Retour à l'accueil", root_path, class: "btn white-btn bg-primary" %>
</div>