.welcome_user-wrapper__left.appointment-show {
  max-width: 25%;
  border: none;
}

.welcome_user-wrapper__right.appointment-show {
  border-left: 1px solid $primary;
}

.welcome_user-wrapper__left.appointment-show p {
  min-height: 0;
  padding-bottom: 0.5rem;
}

.appointment-section {
  padding: 1rem;
  border: 1px solid $primary;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-align: center;
  margin: 0 2rem 1rem;

  .primary {
    margin: -1.9rem auto 1.9rem;
    background-color: #fff;
    max-width: 350px;
  }
}

.appointment-picture {
  display: flex;
  justify-content: center;
}

.candidate-documents-wrapper {
  border: 1px dashed rgba(0,0,0,0.1);
  margin-top: 1rem;
}

.candidate-profile-details-section progress {
  -webkit-appearance: none;
}
// Non compatible avec FF et IE /!\
::-webkit-progress-bar {
  background-color: #cecece;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
::-webkit-progress-value {
  background-color: $primary;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.candidate-document i {
  margin: 0 0.5em;
}

.option1-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0 1rem;
}

.option1-wrapper__left, .option1-wrapper__right {
  text-align: left;
}

.option1-wrapper__left {
  padding-right: 0.25rem;
  margin-right: 1rem;
  border-right: 1px solid rgba(0,0,0,0.2);

  p {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 745px) {
  .option1-wrapper {
    flex-direction: column;
  }

  .option1-wrapper__left, .option1-wrapper__right {
    text-align: center;
    border-right: none;
  }
}