.home {
  min-height: 100%;
  overflow-x: hidden;

  .home-intro {
    background-color: $primary;
    position: relative;
    z-index: 110;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    &__left {
      width: 100%;
      margin-right: 2rem;

      h2 {
        color: white;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 3rem !important;
      }
      
      p {
        color: #fff;
        font-size: 1.1em;
        line-height: 2rem;
        margin-top: 0rem !important;
        margin-bottom: 0.2rem !important;
      }

      .home-buttons {
        position: relative;
        z-index: 110;
        margin-top: 3rem;
    
        a {
          margin-right: 1em;
        }
      }

      .typewriter-container {
        .typewriter .wrapper {
          border-right: .15em solid white;
          animation: blink 1s .1s step-end infinite;
          -webkit-animation: blink 1s .1s step-end infinite;
        }
      }
    }

    &__right {
      width: 75%;
  
      img {
        width: 100%;
        justify-self: center;
      }
    }
  }

  #benefits-1 {
    background-color: #fff;
  }

  .benefits-section {
    position: relative;
    bottom: 0;
    left: 0;
    min-height: 100vh;
    padding: 3rem 4rem;
    background-color: $primary;
    opacity: 1;
    transition: opacity .4s ease;
    z-index: 200;

    &.visible {
      opacity: 1;
    }
  
    &__title {
      text-align: center;
      padding: 5rem 0 0.5rem;
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 1.5rem;
      margin-top: 1em;
    }
  
    &__body {
      display: flex;
      padding: 3rem 1rem;
      flex-wrap: wrap;
      justify-content: space-around;
  
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        width: 25%;
        flex: 0 0 auto;
  
        img {
          width: 25%;
          margin-bottom: 0.5rem;
        }
  
        &__title {
          font-size: 1.3rem;
          padding: .5em 0;
        }
  
        &__content {
          font-size: 0.9rem;
        }
      }

      .item-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem;
        width: 23%;
        flex: 0 0 auto;
        background-color: #ffffff;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        box-shadow: 0 6px 12px 2px rgba(0,0,0,0.1);

        &__title {
          font-size: 1.1rem;
          padding: .5em 0;
        }
  
        &__content {
          font-size: 0.8rem;
          color: #212530;
        }
      }
    }

    &--white {
      font-weight: 600;
      color: #fff;
    }

    &.last-section {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;

      .short {
        max-width: 800px;
      }

      .last-text {
        font-size: 1.3em;
      }

      .benefits-section__title {
        padding-bottom: 0.5rem;
      }
    }
  }

  .last-section-icon {
    padding: 0.5rem 1.2rem;
    margin-bottom: 0.5rem;
    background-color: #f2eee3;
    color: #f59331;
    font-size: 1.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    &.i2 {
      background-color: #f1e0e3!important;
      color: #e81500!important;
    }

    &.i3 {
      background-color: #daefed!important;
      color: #00ac69!important;
    }

    &.i4 {
      background-color: $primary-light!important;
      color: $primary!important;
    }

    &.i5 {
      background-color: #aaa;
    }
  }
  
  @media screen and (max-width: 938px) {
    .benefits-section__body {
      .item {
        width: 50%;
  
        img {
          width: 40%;
        }
      }

      .item-background {
        width: 50%;
        margin: 1rem;
      }
    }
  }
  
  @media screen and (max-width: 686px) {
    .benefits-section__body {
      .item {
        width: 100%;
  
        img {
          width: 30%;
        }
      }

      .item-background {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}

.arrow-up {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  color: white;
  z-index: 800;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  background-color: $primary;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all .4s ease;

  &::after {
    content: '\f176';
    font-family: FontAwesome;
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    text-align: center;
    line-height: 3rem;
    transition: .2s ease;
    transform-origin: 50% 0;
    transform: translate3d(0px,105%,0px) rotateX(-90deg);
  }
  
  i {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 3rem;
    transition: all .2s;
    transform-origin: 50% 0%;
    transform-style: preserve-3d;
  }

  &:hover {
    opacity: 1;

    i {
      transform: translate3d(0, 0, -1.5rem) rotateX(90deg);
      animation: arrowmove 1s ease forwards;
    }

    &::after {
      transform: translate3d(0,0,0) rotateX(0)
    }
  }
}

@keyframes arrowmove {
  0% {
    top: 2px;
  }

  100% {
    top: -3px;
  }
}

// Home-intro

@media screen and (max-width: 1200px) {
  .home {
    .home-intro {
      flex-wrap: wrap;

      &__left {
        h2 {
          font-size: 2.5rem !important;
          line-height: 3rem !important;
        }

        p {
          font-size: 1rem !important;
          line-height: 2rem !important;
        }
      }

      &__right {
        margin: 4rem 0;
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 483px) {
  .home {
    .home-intro {
      flex-wrap: wrap;
      padding: 2rem;

      &__left {
        h2 {
          font-size: 2rem !important;
          line-height: 2.5rem !important;
          margin-bottom: 2rem !important;
        }

        p {
          font-size: 1rem !important;
          line-height: 1.5rem !important;
          margin-bottom: 0.5rem !important;
        }

        .home-buttons {
          margin-top: 2rem !important;
          a {
            margin-right: 0 !important;
          }
        }
      }
    }
  }

  .benefits-section {
    &__title {
      font-size: 3rem;
    }

    .subtitle {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 442px) {
  .home {
    .home-intro {
      flex-wrap: wrap;
      padding: 2rem;
    }
  }
}

@media screen and (max-width: 410px) {
  .home {
    .home-intro {
      flex-wrap: wrap;
      padding: 2rem;

      &__left {
        h2 {
          font-size: 2.5rem !important;
          line-height: 3rem !important;
        }
        p {
          font-size: 1rem !important;
          line-height: 2rem !important;
        }
      }
    }

    .home-buttons {
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .home {
    .home-intro {
      flex-wrap: wrap;
      padding: 2rem;

      &__left {
        h2 {
          font-size: 1.6rem !important;
          line-height: 2rem !important;
        }

        p {
          font-size: 1rem !important;
          line-height: 1.2rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .home {
    .home-intro {
      flex-wrap: wrap;
      padding: 2rem;

      &__left {
        h2 {
          font-size: 1.3rem !important;
          line-height: 2rem !important;
        }

        p {
          font-size: 0.8rem !important;
          line-height: 1.2rem !important;
        }
      }
    }
  }
}

// Benefits sections

@media screen and (max-width: 512px) {
  .home {
    .benefits-section {
      padding: 3rem;
    }
  }
}

@media screen and (max-width: 428px) {
  .home {
    .benefits-section {
      &__title {
        font-size: 2rem;
      }

      &__subtitle {
        font-size: 1.3rem;
      }

      &__body {
        width: 100%;
        padding: 2rem 0rem;

        .item {
          img {
            width: 20%;
          }
    
          &__title {
            font-size: 1.1rem;
          }
    
          &__content {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 384px) {
  .home {
    .benefits-section {
      padding: 2rem;
    }
  }
}

