.home {
  background-color: #fff;
  min-height: 100%;
  user-select: none;
  overflow-x: hidden;

  .home-intro {
    position: relative;
    z-index: 110;
    height: 100vh;
    text-align: left;

    &__text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      padding: 4rem;
    }

    &__title {
      h2 {
        font-size: 3.4rem;
        color: white;
        line-height: 4rem;
      }
      
      p {
        color: #fff;
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0.7em 0;
        min-height: 3em;
        font-size: 3rem;
      }
    }

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 100%;
    }
  }

  .home-buttons {
    position: relative;
    z-index: 110;
    margin-top: 4rem;

    a {
      margin-right: 1em;
    }

    p {
      color: #fff;
      font-size: 1.5em;
      margin-bottom: 4rem;
    }
  }

  #benefits-1 {
    background-color: #fff;
  }

  .benefits-section {
    position: relative;
    bottom: 0;
    left: 0;
    min-height: 100vh;
    padding: 3rem 4rem;
    background-color: $primary;
    opacity: 0;
    transition: opacity .4s ease;
    z-index: 200;

    &.visible {
      opacity: 1;
    }
  
    &__title {
      text-align: center;
      padding: 5rem 0 0.5rem;
      font-size: 4rem;
    }
  
    &__body {
      display: flex;
      padding: 3rem 1rem;
      flex-wrap: wrap;
      justify-content: space-around;
  
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        width: 25%;
        flex: 0 0 auto;
  
        img {
          width: 50%;
          margin-bottom: 1rem;
        }
  
        &__title {
          font-size: 1.5rem;
          padding: .5em 0;
        }
  
        &__content {
          font-size: 1rem;
        }
      }
    }

    &--white {
      font-weight: 600;
      color: #fff;
    }

    &.last-section {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;

      .short {
        max-width: 800px;
      }

      .last-text {
        font-size: 1.3em;
      }

      .benefits-section__title {
        padding-bottom: 0.5rem;
      }
    }
  }

  .subtitle {
    font-size: 1.8em;
    margin-top: 1em;
  }

  .last-section-icon {
    padding: 2.5rem 4rem;
    background-color: #ddd;
    color: #fff;
    font-size: 4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  @media screen and (max-width: 938px) {
    .benefits-section__body {
      .item {
        width: 50%;
  
        img {
          width: 40%;
        }
      }
    }
  }
  
  @media screen and (max-width: 686px) {
    .benefits-section__body {
      .item {
        width: 100%;
  
        img {
          width: 30%;
        }
      }
    }
  }
}

@media screen and (max-width: 539px) {
  .home-buttons {
    a {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 512px) {
  .home {
    .benefits-section {
      padding: 3rem;
    }
  }
}

@media screen and (max-width: 483px) {
  .home {
    .home-intro__text {
      padding: 3rem 4rem;

      .home-intro__title {
        h2 {
          font-size: 3rem;
        }
      }

      .home-buttons {
        margin-top: 3rem;
      }
    }

    .benefits-section {
      &__title {
        font-size: 3rem;
      }

      .subtitle {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (max-width: 442px) {
  .home {
    .home-intro__text {
      padding: 2rem 3rem;
    }
  }
}

@media screen and (max-width: 428px) {
  .home {
    .benefits-section {
      &__title {
        font-size: 2.4rem;
      }

      .subtitle {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .home {
    .home-intro__text {
      padding: 2rem;
      .home-intro__title {
        h2 {
          font-size: 2.4rem;
        }
      }
    }

    .home-buttons p {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 384px) {
  .home {
    .benefits-section {
      padding: 2rem;
    }
  }
}