.profile-wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 1rem auto;
  p, h2 {
    color: black;
  }

  h2 {
    margin: 2rem 0 0;
  }

  &__informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0.5em;
    flex-wrap: wrap;

    div:nth-child(2) {
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem 0;

      a:hover {
        color: darken($warning, 35%);
      }
    }
    &__left {
      order: 2;
    }

    &__right {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      box-shadow: var(--shadow-low);
      aspect-ratio: 1/1;
      position: relative;

      p {
        color: white;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;

        &:hover {
          opacity: 0.5;
        }
      }

      &--change {
        position: absolute;
        bottom: .5em;
        font-size: 1.6em;
        color: white;
        pointer-events: none;
        opacity: 0;
      }

      &.nopic:hover {
        background-color: $primary-light;
      }

      &:hover {
        background-color: #000;

        img {
          filter: blur(1px);
        }

        .profile-wrapper__informations__right--change {
          opacity: 1
        }
      }
    }
  }
}

.properties-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 1rem 0;
  margin-bottom: 3rem;
}

.delete-profile-picture {
  color: black;
  display: block;
  text-align: right;
  margin-top: 0.5em;
}