.profile-wrapper {
  padding: 0.5rem 4rem 0;
  p, h2 {
    color: black;
  }

  h2 {
    margin-top: 1em;
  }

  &__informations {
    display: flex;
    align-items: center;
    margin-top: 0.5em;

    &__right {
      margin-left: 5rem;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;
      box-shadow: var(--shadow-low);

      p {
        color: white;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;

        &:hover {
          opacity: 0.5;
        }
      }

      &--change {
        position: absolute;
        font-size: 1.6em;
        color: black!important;
        pointer-events: none;
      }

      &.nopic:hover {
        background-color: $primary-light;
      }
    }
  }
}

.properties-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin: 1em 0;
}

.picture-profile-modal {
  padding: 2.5rem 1.5rem 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.1), 0 0 0 9999em rgba(0,0,0,0.5);
  background-color: #fff;
  position: absolute;
  top: 10rem;
  z-index: 9999;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  -ms-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.picture-profile-modal.hidden {
  opacity: 0;
  transform: translateY(-20rem);
  -webkit-transform: translateY(-20rem);
  -moz-transform: translateY(-20rem);
  -ms-transform: translateY(-20rem);
  -o-transform: translateY(-20rem);
  pointer-events: none;
}

.picture-profile-modal-wrapper {
  position: relative;
}

.modal-close {
  position: absolute;
  top: -2rem;
  right: -0.5rem;
  font-size: 1.4em;
  cursor: pointer;
}

.delete-profile-picture {
  color: black;
  display: block;
  text-align: right;
  margin-top: 0.5em;
}