.property-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem 4rem;

  &__left {
    width: 100%;
    &__infos {
      padding: 1em 0;
    }
  }

  &__right {
    flex-grow: 1;
    position: relative;
    margin-top: 3rem;

    h2 {
      color: $primary;
      margin-bottom: 4rem;
    }

    .calendar-wrapper {
      position: relative;

      .instructions {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .92);
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: $primary;
        }
      }
    }

    &__date {
      text-align: center;
      border-bottom: 1px solid black;
    }
    // STYLE FOR SLOTS CARDS
    &__slot {
      padding: 0.4rem;
      background-color: $primary;
      margin: 0.3em 0;
      border-radius: 0.2em;
      -webkit-border-radius: 0.2em;
      -moz-border-radius: 0.2em;
      -ms-border-radius: 0.2em;
      -o-border-radius: 0.2em;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      -webkit-transition: background-color 0.3s;
      -moz-transition: background-color 0.3s;
      -ms-transition: background-color 0.3s;
      -o-transition: background-color 0.3s;

      &:hover {
        background-color: $primary-dark;
      }

      &.full {
        background-color: $warning;
        position: relative;
      }

      &.current {
        background-color: green;
      }
    }
  }
}

.property-picture {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    object-fit: cover;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &--change {
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
  }

  &.no-picture {
    background-color: $primary;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;

    &:hover {
      background-color: $primary-light;
    }
  }
}

.delete-property-picture {
  color: black;
  text-align: center;

  &:hover {
    color: darken($warning, 35%);
  }
}

@media screen and (min-width: 1440px) {
  .property-wrapper {
    &__left,
    &__right {
      width: 50%;
    }

    &__right {
      padding-left: 2rem;
    }
  }
}

@media screen and (max-width: 636px) {
  .property-wrapper {
    padding: 1rem 2rem;
  }
}