// Welcome User General
.welcome-page {
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0;
  }
}

.welcome_user-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;

  &__left, &__right {
    text-align: center;
    width: 100%;

    p {
      font-size: 1.2rem;
    }

    .bolder {
      color: $primary;
      font-size: 1.6rem;
      margin-bottom: 1em;
      min-height: auto;
    }
  }

  &__left {
    border-right:none;
  }

  &__right {
    align-self: center;
  }
}

// Welcome User Candidate
.welcome-page.candidate {

  h1 {
    margin-bottom: 4rem;
  }

  .welcome_user-wrapper {
    font-size: 1.4em;

    &__right p, &__left p {
      max-width: 650px;
      margin-bottom: 0.8rem;
    }

    &__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2em;
    }

  }
}

.house-picture {
  max-width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  justify-self: center;
  margin: 1em 1em;
}

.slot-candidate-wrapper {
  &__title {
    text-align: center;
  }
  
  &__calendar {
    padding: 0 2rem;

    &__title {
      border: 1px solid $primary;
      padding: 0.5rem 0;
      margin-top: 0.25rem;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
}
  }
}

.property-section {
  padding: 1rem;
  border: 1px solid $primary;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-align: center;
  margin: 0 0.5rem 1rem;

  .primary {
    margin: -1.9rem auto 1.9rem;
    background-color: #fff;
    max-width: 350px;
  }
}

.steps-section {
  margin: 4rem auto;
  background-color: white;
  width: 80%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 3em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 6px 12px 2px rgba(0,0,0,0.1);

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 925px) {
  .welcome-page {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    max-width: 1200px;

    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 925px) {
  .welcome_user-wrapper {
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;

    &__left {
      border-right:none;
      border-bottom:none;

      p {
        min-height: auto;
        margin-bottom: 1em;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .steps-section {
    margin: 4rem auto;
    width: 100%;
    padding: 2em;
  }
}