.faq-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.faq-element {
  margin-bottom: 1rem;
  max-width: 600px;
}

.faq-element__question {
  cursor: pointer;
}

.faq-element__answer {
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  height: 0;
}

.faq-btn {
  cursor: pointer;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  margin-left: 0.3rem;
}

.active .faq-btn {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.faq-element__question.active + .faq-element__answer {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  height: 100%;
}