footer {
  padding: 1rem;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
  position: relative;
  background-color: $primary;
  border-top: 1px solid #fff;

  .row {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  a, .love {
    color: #fff;
    margin: 0 1em;
  }

  .love {
    i {
      color: $red;
      transform: scale(1);

      &:hover {
        animation: pulse .4s .1s alternate infinite ease;
      }
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.4);
  }
}

@media screen and (max-width: 526px) {
  .footer {
    .row:nth-child(2) {
      .item {
        margin: .3em 1em;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    .row:nth-child(2) {
      flex-direction: column;
      align-items: center;

      .item {
        margin: .1em 0;
      }
    }
  }
}