nav {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1em 2em;
  position: relative;
  z-index: 200;
  width: 100%;

  p {
    cursor: pointer;

    i {
      font-size: 0.9em;
      margin-left: 0.2em;
      transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
    }

    &.active i{
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
    }
  }

  a,
  p {
    color: #fff;
    margin: 0 0.5em;
    font-size: 1.2em;
    transition: opacity 0.3s;

    &.item:hover {
      opacity: 0.7;
    }
  }
}

.navbar__items {
  display: flex;
  align-items: center;

  &__connection {
    position: relative;

    &__menu {

      a {
        display: block;
      }

      &.active {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
      }

      position: absolute;
      bottom: -3.4em;
      right: 2em;
      padding: 0.5em;
      background-color: #fff;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      box-shadow: var(--shadow-low);
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      transition: transform 0.3s;
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transform-origin: top;
    }
  }
}

.hamburger-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 800;
  height: 4rem;
  width: 4rem;
  display: none;
  cursor: pointer;
  background-color: $primary;
  border-radius: 50%;
  opacity: .6;
  transition: all .2s ease;

  &:hover {
    opacity: 1;
  }

  &__icon,
  &__icon::before,
  &__icon::after {
    width: 2em;
    height: 3px;
    background: #fff;
    position: absolute;
    transform: rotate(0) scale(100%);
    transition: all .4s ease;
  }

  &__icon {
    top: calc(1.15rem + 4.5px);
    left: 1rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }

    &::before {
      top: 20px;
    }

    &::after {
      top: 10px;
    }
  }

  &.is-active {
    .hamburger-btn__icon {
      transform: rotate(45deg);

      &::after {
        transform: rotate(45deg) scale(0);
      }

      &::before {
        transform: rotate(90deg);
        top: 0;
      }
    }
  }
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 700;
  background-color: $primary;
  padding: 6rem 3rem;
  transition: all .4s ease;
  
  .navbar__brand {
    h1 {
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, .3);
      font-size: 3rem;
      line-height: 1.5;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }
  }

  .navbar__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
      font-size: 1.5rem;
      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, .3);
      line-height: 1.5;
      margin: .8rem 0;
    }
  }

  &.is-active {
    left: 0;
  }

  .connection-btn {
    margin: 0;
  }

  .navbar__items__connection__menu {
    position: relative;
    bottom: auto;
    right: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;

    .item {
      text-shadow: none;
      color: #fff;
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    .navbar__brand {
      padding: 1rem 0;
    }
    .navbar__items {
      display: none;
    }
  }

  .hamburger-menu {
    padding: 4rem 3rem;

    .navbar__brand {
      h1 {
        margin: 0;
        margin-bottom: 2rem;
      }
    }

    .navbar__items {
      font-size: 1.3rem;
    }
  }

  .hamburger-btn {
    display: block;
    top: 1.2rem;
  }
}

@media screen and (max-width: 390px) {
  .navbar {
    padding: 1em;
    .navbar__brand {
      padding: 0;
    }
  }

  .hamburger-btn {
    top: .6em;
    right: .3em;
    height: 3rem;
    width: 3rem;
    &__icon,
    &__icon::before,
    &__icon::after {
      height: 2px;
      width: 1.5em;
    }

    &__icon {
      top: 1rem;
      left: .75rem;

      &::before {
        top: 16px;
      }

      &::after {
        top: 8px;
      }
    }
  }
}