<div class="property-card <%= past ? "past" : nil %>">
  <div class="property-card__picture">
    <%if appointment.slot.property.property_picture.attached?%>
      <%= image_tag appointment.slot.property.property_picture, alt: 'property_picture' %>
    <%else%>
      <div class="property-card__picture__no-picture">
        <p>Pas de photo du logement</p>
      </div>
    <%end%>
  </div>
  <div class="property-card__text">
    <p>RDV : <%= appointment.slot.start_date.strftime("%d/%_m/%Y %H:%M") %></p>
    <p>Durée : <%= appointment.slot.duration %> minutes</p>
  </div>
</div>