<div class="property-card">
  <div class="property-card__picture">
    <%if property.property_picture.attached?%>
      <%= image_tag property.property_picture, alt: 'property_picture' %>
    <%else%>
      <div class="property-card__picture__no-picture">
        <p>Ajoutez une photo en éditant votre logement</p>
      </div>
    <%end%>
  </div>
  <div class="property-card__text">
    <p><%= property.title %></p>
    <p><%= property.city %></p>
  </div>
</div>