<div class="property-card">
  <div class="property-card__picture">
    <%= image_tag "https://scontent-mrs2-1.xx.fbcdn.net/v/t1.18169-9/17523671_1290821964332888_9046895090427633695_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=9267fe&_nc_ohc=v1JioGHiL6IAX-MOrQ6&_nc_ht=scontent-mrs2-1.xx&oh=6399d1a0169f6de68ae8086bff23f001&oe=61D5C538" %>
  </div>
  <div class="property-card__text">
    <p><%= property.title %></p>
    <p><%= property.city %></p>
  </div>

</div>