.primary {
  color: $primary!important;
}
.bg-primary {
  background-color: $primary!important;
}

.secondary {
  color: $secondary!important;
}
.bg-secondary {
  background-color: $secondary!important;
}

.blue {
  color: $blue!important;
}
.bg-blue {
  background-color: $blue!important;
}

.light-blue {
  color: $light-blue!important;
}
.bg-light-blue {
  background-color: $light-blue!important;
}

.light-orange {
  color: $light-orange!important;
}
.bg-light-orange {
  background-color: $light-orange!important;
}

.light-white {
  color: white!important;
}
.bg-light-white {
  background-color: white!important;
}
