// Margins / Paddings 
.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mt7 {
  margin-top: 7rem;
}

.mb7 {
  margin-bottom: 7rem;
}

.pt7 {
  padding-top: 7rem;
}

.pb7 {
  padding-bottom: 7rem;
}

.ml4 {
  margin-left: 4rem;
}
.mr4 {
  margin-left: 4rem;
}

.pl4 {
  padding-left: 4rem;
}
.pr4 {
  padding-right: 4rem;
}

// Fonts
.bolder {
  font-weight: bolder;
}