.btn {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 2px solid white;
  background-color: white;
  color: $secondary;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &.disabled {
    background-color: #eee;
    color: #ccc;
    pointer-events: none;
  }
}

.big-btn {
  padding: 1rem 1.5rem;
}

.small-btn {
  font-size: 0.7em;
  padding: 0.25rem 0.75rem;
}

.white-btn {
  color: white;
}

.info-btn {
  background-color: $grey;
  color: white;
}

.center-btn { // Apply it on a div wrapping the button
  display: flex;
  justify-content: center;
}

.outline-btn {
  background-color: $primary;
  border: 2px solid white;
  color: #fff;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    background-color: #fff;
    color: $primary;
    opacity: 1;
  }
}

.outline-btn-white {
  background-color: white;
  border: 2px solid $primary;
  color: $primary;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    background-color: $primary;
    color: #fff;
    opacity: 1;
  }
}

.return-link {
  color: black;
  display: inline-block;
  margin-bottom: 1em;

  i {
    font-size: 0.9em;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    margin-right: 0.5em;
  }

  &:hover i {
    transform: translateX(-6px);
    -webkit-transform: translateX(-6px);
    -moz-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    -o-transform: translateX(-6px);
  }
}

.icon-btn {
  padding-left: 2.25em;
  text-transform: none;

  img {
    display: inline-block;
    height: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.75rem;
  }
}