.simple-calendar {

  .today {
    background-color: $primary-light;
  }

  .week {
    width: 100%;
  }

  .past {
    background-color: #ccc;
    pointer-events: none;
  }

  .day {
    height: 400px;
  }
}