.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-page__form {
  background-color: #F7F7F7;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 6px 12px 2px rgba(0,0,0,0.1);

  h2 {
    margin-bottom: 2rem;
  }

  input:not([type='submit'], [type='checkbox'], .pickadate--element), select, textarea {
    border: 2px solid #9A98A2;
    outline: none;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 100%;
    padding: 0.5rem;
    margin: 1em 0 1em 0;

    &:focus {
      border-color: $primary;
    }
  }

  input[type="file"],
  select {
    background-color: white;
  }

  & textarea {
    resize: none;
  }

  & input[type="checkbox"] {
    display: inline;
  }

  & .btn {
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  } 

  &--links {
    text-align: center;
    a {
      color: black;
      font-size: 1.1em;
    }
  }

}

form {
  width: 100%;
}

.form-group__checkboxes {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  & label {
    padding-right: 24px;
  }
}

@media screen and (max-width: 560px) {
  .form-page__form {
    width: 80%;
  }
}

@media screen and (max-width: 424px) {
  .form-page__form {
    em {
      display: block;
    }
  }
}