.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // height: 100%;
}

.form-page__form {
  margin: 4rem 0;
  background-color: #F7F7F7;
  width: 80%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 6px 12px 2px rgba(0,0,0,0.1);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h1 {
    padding-bottom: 0.8rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  &--links {
    text-align: center;
    a {
      color: black;
      font-size: 1.1em;
    }
  }
  form {
    width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: center;
  }

  .btn {
    width: 100%;
    max-width: 400px;
    margin: 1.5rem auto 0.5rem;
    position: relative;
    display: block;
  } 

  .form-group__checkboxes {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    & label {
      padding-right: 24px;
    }
  }

  #pickadate {
    text-align: center;
  }
}

input:not([type='submit'], [type='checkbox'], .pickadate--element), select, textarea {
  border: 2px solid #9A98A2;
  outline: none;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  padding: 0.5rem;
  margin: 1em 0 1em 0;

  &:focus {
    border-color: $primary;
  }

  .delete {
    text-align: center;
    display: block;
  }
}

input[type="file"],
select {
  background-color: white;
}

textarea {
  resize: none;
  height: 150px;
}

input[type="checkbox"] {
  display: inline;
}

input[type='submit'] {
  white-space: normal;
}

.toggle-label {
  align-self: flex-start;
}

.sell-rent-wrapper {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  .sell-rent-toggle {
    position: relative;
    background-color: #ccc;
    border-radius: 50px;
    padding: 4px;
    display: flex;
    
    div {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      background-color: #999;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all .4s ease;
      
      &.rent {
        left: 6px;
        transform: translate(0, -50%);
        background-color: #006bd6;
      }
      
      &.sell {
        left: calc(3rem - 6px);
        transform: translate(0, -50%);
        background-color: #006bd6;
      }
    }

    button {
      margin: 0;
      padding: 0;
      height: 1.5rem;
      width: 2rem;
      cursor: pointer;
      opacity: 0;
      &:nth-child(1) {
        border-radius: 50px 0 0 50px;
      }
      &:nth-child(2) {
        border-radius: 0 50px 50px 0;
      }
    }
  }

  p {
    margin: 2ch;
  }
}

@media screen and (max-width: 424px) {
  .form-page__form {
    em,
    small {
      display: block;
    }
  }
}

@media screen and (max-width: 378px) {
  input,
  textarea,
  select {
    font-size: .8rem;
  }
}

@media screen and (max-width: 356px) {
  .form-page__form {
    padding: 3em 2em;
  }
}