<p class="bolder primary">Mon message au propriétaire</p>
<%if appointment.candidate_message %>
  <p><%= appointment.candidate_message %></p>
<%else%>
  <p>Vous n'avez pas encore envoyé un message au propriétaire.</p>
<%end%>
<%= link_to "Modifier mon message", edit_appointment_path(params[:id]), class: "btn white-btn bg-primary" %>