<p class="bolder primary">Mon dossier de location</p>

<h3>Option 1 : téléchargez directement les documents demandés</h3>
<small>Vos documents sont strictement utilisés dans le cadre de votre réponse à cette annonce immobilière.</small> 
<p>insérer les textes et champs ici >>> cf maquette slide 26</p>

<br/>
<hr/>
<br/>

<h3>Option 2 : transmettez votre dossier via DossierFacile</h3>
<small>DossierFacile est une plateforme publique gratuite d'aide à la création de dossier de location. Elle joue le rôle de tiers de confiance entre locataires et propriétaires.</small> 
<p>insérer les textes, image et champs ici >>> cf maquette slide 27</p>

<br/>