<p class="bolder primary">Rappel de l'annonce</p>
<p class="bolder"><%= appointment.property.title%></p>
<p><small><%= appointment.property.city%></small></p>
<p><small><%= appointment.property.other_link%></small></p>
<%if appointment.property.property_picture.attached?%>
  <div class="appointment-picture">
    <%= image_tag appointment.property.property_picture, alt: 'property picture', class: "house-picture pt1" %>
  </div>
<% end %>
</div>

