<p class="bolder"><%= appointment.property.title%></p>
<p><%= appointment.property.city%></p>
<p><small><%= link_to appointment.property.other_link, appointment.property.other_link, target: '_blank' %></small></p>

