<%# Allows user to edit his appointment message %>
<div class="pt4 text-center">
  <h1>Modifier mon message</h1>
</div>

<div class="form-page">
  <div class="form-page__form">
  <p class="text-center">💡 Présentez votre projet et vos motivations pour ce logement</p>
    <%= form_with model: @appointment, url: appointment_path(@appointment), method: "patch", local: true, class: "form", id: "item-form", multipart: true do |f| %>
      <div class="form-group">
        <%= f.text_area :candidate_message, class: "form-control", placeholder: "Rédigez ici votre message au propriétaire", maxlength: "1000" %>
      </div>
      <div>
        <%= f.submit "Modifier mon message", class: "btn white-btn bg-primary" %>
      </div>
    <%end%>
  </div>
</div>
