<p>Bonjour</p><br/>

<p>Votre compte a été bloqué suite à un nombre limite de tentatives de connexion.</p><br/>

<p>Cliquez sur le lien ci-dessous pour débloquer votre compte :</p><br/>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p><br/>

<p> À bientôt sur immolib</p>
