<footer class="footer pt2 pb2">

  <div class="row mb1">
    <%= link_to "FAQ", faq_path, class:"item" %>
  </div>

  <div class="row">
    <p class="love"><small>Copyright © 2022 Immolib | Fait avec <i class="fas fa-heart"></i></small></p>
  </div>

</footer>