<footer class="footer">
  <div class="row">
    <a target="_blank" href="https://github.com/Beygs" class="item"> <i class="fab fa-twitter footicon"></i> </a>
    <a target="_blank" href="https://github.com/looping124" class="item"> <i class="fab fa-facebook-f footicon"></i> </a>
    <a target="_blank" href="https://github.com/keeev90" class="item"> <i class="fab fa-github footicon"></i> </a>
    <a target="_blank" href="https://github.com/pierre-pellegrino" class="item"> <i class="fab fa-youtube footicon"></i> </a>
  </div>

  <div class="row">
    <a target='_blank', href='https://github.com/keeev90/Immolib', class='item'>A Propos</a>
    <a target='_blank', href='https://lopoticha.herokuapp.com', class='item'>Nos projets</a>
    <%= link_to "FAQ", "/404.html", class:"item" %>
    <%= link_to "Nous contacter", "/404.html", class:"item" %>
    <a target='_blank', href='https://climate.stripe.com/SBYrPT', class='item'>Nos engagements 🌳</a>
  </div>

  <div class="row">
    <p class="love">Fait avec <i class="fas fa-heart"></i> - THP</p>
  </div>
</footer>