<footer class="footer pt2 pb2">

  <div class="row mb1">
    <%= link_to 'A propos', '#', class: 'item', target: '_blank' %>
    <%= link_to 'Nous contacter', '#', class: 'item', target: '_blank' %>
    <%= link_to "FAQ", faq_path, class:"item" %>
    <%= link_to 'Nos engagements 🌳', 'https://climate.stripe.com/SBYrPT', class: 'item', target: '_blank' %>
  </div>

  <div class="row">
    <p class="love">Fait avec <i class="fas fa-heart"></i></p>
  </div>

</footer>