<tr>
  <td class="footer" align='center' valign='bottom'>
    <a href="https://immolib.herokuapp.com">Immolib</a>
    <p><em>Copyright © 2021 Immolib</em></p>
    <p>All rights reserved.</p>
  </td>
</tr>